.blk_p {
  display: block;
  margin: 0;
  padding: 0;
}

.blk_strong {
  font-weight: bold;
}

.blk_i {
  font-style: italic;
}

.blk_small {
  font-size: smaller;
}

.blk_mark {
  background-color: yellow;
  color: black;
}

.blk_del {
  text-decoration: line-through;
}

.blk_ins {
  text-decoration: underline;
}

.blk_sub {
  vertical-align: sub;
  font-size: smaller;
}

.blk_sup {
  vertical-align: super;
  font-size: smaller;
}

.blk_h1 {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 2em;
  font-weight: bold;
}

.blk_h2 {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 1.5em;
  font-weight: bold;
}

.blk_h3 {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 1.17em;
  font-weight: bold;
}

.blk_h4 {
  display: block;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.blk_h5 {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 0.83em;
  font-weight: bold;
}